<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--    <settings>-->
    <!--        <setting name="mapUnderscoreToCamelCase" value="true"/>-->
    <!--    </settings>-->

    <!-- 配置开发环境，可以配置多个，在具体用时再做切换 -->
    <environments default="test">
        <environment id="test">
            <transactionManager type="JDBC"/>    <!-- 事务管理类型：JDBC、MANAGED -->
            <dataSource type="POOLED">    <!-- 数据源类型：POOLED、UNPOOLED、JNDI -->
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property
                        name="url"
                        value="jdbc:mysql://127.0.0.1:3306/wzq?characterEncoding=utf-8&amp;useUnicode=true&amp;allowMultiQueries=true"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>


    <!-- 加载映射文件 mapper -->
    <mappers>
        <mapper resource="com/demo/wzq/mybatis/db_mapper/UserInfoMapper.xml"/>
        <!--        <mapper resource="com/first/mushroom/mybatis/db_mapper/NickResMapper.xml"/>-->
        <!--        <mapper resource="com/first/mushroom/mybatis/db_mapper/uFileMapper.xml"/>-->
        <!--        <mapper resource="com/first/mushroom/mybatis/db_mapper/uInfoMapper.xml"/>-->
        <!--        <mapper resource="com/first/mushroom/mybatis/db_mapper/SmsVerifyMapper.xml"/>-->
        <!--        <mapper resource="com/first/mushroom/mybatis/db_mapper/ConfigLongMapper.xml"/>-->
    </mappers>


</configuration>